body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    width: 100%;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

.hrefToSlide { 
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
}
